.idea/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Scalable_ML_Project_AQ.iml
/.idea/vcs.xml
.hw_api_key
model.pkl
.env
df_next_7_days.png
**/__pycache__/**
